* {
  margin: 0px;
}
body {
  font-family: lato, sans-serif;
}
.top {
  width: 70%;
  margin: 30px auto 30px auto;
  text-align: center;
}
.cards {
  width: 90%;
  margin:auto;
  text-align: center;
}
.truth, .dare {
  display: inline-block;
  transition: all .2s ease;
  cursor: pointer;
}
.nav {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin: 20px auto 20px auto;
}
select {
  margin-top: 15px;
  border:0;
  outline: none;
  font-size: 20px;
}
img {
  margin:auto 20px auto 20px;
  transition: all .3s ease;
}
.qts {
  width: 50%;
  margin: 30px auto 2% auto;
  text-align: center;
}
.qts p {
  color: black;
}
.option {
  margin-bottom: 30px;
}
.hr-1 {
  border-top: 5px dotted #a2a2a2;
  width:20%;
  margin:auto auto 20px auto;
}
.bottom {
  height: 90px;
  width: 100%;
}

@media only screen and (max-width:700px) {
  img {
    width: 70%;
    display: block;
    margin: 30px auto;
  }
  .qts {
    width:80%;
    margin: 30px auto 2% auto;
  }
}
